@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600;700;800&family=Smooch+Sans:wght@100;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input {
  margin-bottom: 0;
}

body {
  background-color: #2e2e38;
}

.disBackground {
  background-color: #2e2e38;
  height: height;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  height: 80px;
}

svg path {
  fill: white;
}

svg g polygon {
  fill: white;
}

.display-content {
  width: 97vw;
  margin: auto;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #1f1f24;
}

/******************** Crud Butttond ************************/

.crud-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.add-button {
  background: #272525;
  border: 1px solid #2e2e38;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  transition: 0.2s ease-in-out;
}

.add-button:hover {
  background: rgb(23, 194, 23);
}

.delete-button {
  background: #272525;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  border: 1px solid #2e2e38;
  transition: 0.2s ease-in-out;
}

.delete-button:hover {
  background: rgb(189, 16, 16);
}

.serch-emp {
  background: #272525;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  border: 1px solid #2e2e38;
}

.serch-emp:focus {
  outline: none;
}

/***************** Table heading ******************/

.table {
  margin-top: 2rem;
  border: none !important;
  border-collapse: collapse !important;
}

.table > thead > tr > th > input[type="checkbox"] {
  width: 20px;
  height: 20px;
  text-align: center;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.table thead tr th h3 {
  font-size: 22px;
  color: #fff;
}

th {
  vertical-align: middle !important;
}

tr,
th,
td {
  border: none !important;
  color: white;
}

.table > tbody > tr > td > input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.tr-background {
  background: #272525;
  border-radius: 6px;
}

/********** Add Employee ******************/

.add-employee {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem 2rem 2rem 2rem;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 10;
  transition: 0.2s ease-in-out;
}

.emp-form-heading {
  margin: 1rem 0 2rem 0;
}
.emp-form-heading h3 {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
}

.emp-form-heading h3 span {
  font-size: 2rem;
  position: absolute;
  right: 0;
  color: black;
  cursor: pointer;
}

.add-employee input {
  padding: 0.2rem 0 0.2rem 1rem;
  border: 1px solid #000000
}

.add-employee input:focus {
  outline: none;
}

.empName {
  width: 25rem;
}

.empName input {
  width: 100%;
}

.empId {
  width: 25rem;
  margin-top: 2rem;
}

.empId input {
  width: 100%;
}

.empEmail {
  width: 25rem;
  margin-top: 2rem;
}

.empEmail input {
  width: 100%;
}

.gender-designation {
  width: 25rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.gender-designation input {
  width: 45%;
}

.salary-dob {
  width: 25rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.salary-dob input {
  width: 45%;
}

.joining-date {
  width: 25rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.joining-date input {
  width: 50%;
}

.add-emp-button {
  width: 25rem;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.add-emp-button button {
  width: 50%;
  background: black;
  color: white;
  border: none;
  padding: 0.5rem 0 0.5rem 0;
}

/************ OVerlay *************************/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262525;
  opacity: 0.9;
  z-index: 5;
}
